    .navbar{
        background-color: #D9CBBA;
    }

    .navbar-brand img {
    width: 13vh;
  }
  .navbar-nav {
    align-items: center;
  }
  .navbar .navbar-nav .nav-link {
    color: #2F3540;
    font-size: 1.1em;
    padding: 0.5em 1em;
  }
  @media screen and (min-width: 768px) {
    .navbar-brand img {
      width: 25vh;
    }
    .navbar-brand {
      margin-right: 0;
      padding: 0 1em;
    }
  }


/*--------------------------------------------------------------
# AboutHead Section
--------------------------------------------------------------*/
#aboutHead {
    width: 100%;
    height: 40vh;
    background-size: cover ;
    position: relative;
  }
  
  @media (min-width: 992px) {
    #aboutHead {
      padding-left: 160px;
    }
  }
  
  #aboutHead:before {
    content: "";
    background: #2F3540;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #aboutHead img {
    margin: 0px;
    font-size: 64px;
    font-weight: 800;
    line-height: 56px;
    color: black;
    width: 30vh;
  }
  
  #aboutHead p {
    color: #2F3540;
    margin: 15px 0 0 0;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
  }
  
  #aboutHead p span {
    color: #428C62;
    letter-spacing: 1px;
    font-weight: 500;
  }
  
  #aboutHead .social-links {
    margin-top: 30px;
  }
  
  #aboutHead .social-links a {
    font-size: 24px;
    display: inline-block;
    color: #45505b;
    line-height: 1;
    margin-right: 20px;
    transition: 0.3s;
  }
  
  #aboutHead .social-links a:hover {
    color: #437353;
  }
  #aboutHead .navbarAbout li{
    list-style:none;
    display: inline-block;
    color: #000000;
  }
  
  @media (max-width: 992px) {
    #aboutHead {
      text-align: center;
    }
  
    #aboutHead h1 {
      font-size: 32px;
      line-height: 36px;
    }
  
    #aboutHead p {
      margin-top: 10px;
      font-size: 20px;
      line-height: 24px;
    }
    #aboutHead img{
      height: 9vh;
      width: 15vh;
      margin-top: 0px;
    }
    #aboutHead {
      width: 100%;
      height: 0.5vh;
      background-size: cover ;
      position: relative;
    }
  }

  /*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/


.contact .info {
    width: 100%;
    background: #fff;
  }
  
  .contact .info i {
    font-size: 20px;
    color: #000000;
    float: left;
    width: 44px;
    height: 44px;
    background: #eef7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #45505b;
  }
  
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #728394;
  }
  
  .contact .info .email,
  .contact .info .phone {
    margin-top: 40px;
  }
  
  .contact .info .email:hover i,
  .contact .info .address:hover i,
  .contact .info .phone:hover i {
    background: #000000;
    color: #ffffff;
  }
  
  .contact .php-email-form {
    width: 100%;
    background: #fff;
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input {
    height: 44px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: #557848;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: #0678e3;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #f7f8f9;
    color: #45505b;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
  }
  
  #footer p {
    font-size: 20px;
    font-style: italic;
    padding: 0;
    margin: 0 0 4px 0;
  }
  
  #footer .social-links {
    margin: 0 0 40px 0;
  }
  
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #437353;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: #0678e3;
    color: #fff;
    text-decoration: none;
  }
  #footer .social-links .instagram a:hover {
    background-image: url(../couleur-Instagram.png);
    color: #fff;
    text-decoration: none;
  }